In [194]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

In [21]:
# Use this dictionary to map state names to two letter acronyms


states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}
s = pd.Series(states)
s

OH                        Ohio
KY                    Kentucky
AS              American Samoa
NV                      Nevada
WY                     Wyoming
NA                    National
AL                     Alabama
MD                    Maryland
AK                      Alaska
UT                        Utah
OR                      Oregon
MT                     Montana
IL                    Illinois
TN                   Tennessee
DC        District of Columbia
VT                     Vermont
ID                       Idaho
AR                    Arkansas
ME                       Maine
WA                  Washington
HI                      Hawaii
WI                   Wisconsin
MI                    Michigan
IN                     Indiana
NJ                  New Jersey
AZ                     Arizona
GU                        Guam
MS                 Mississippi
PR                 Puerto Rico
NC              North Carolina
TX                       Texas
SD                South Dakota
MP    Northern Mariana Islands
IA                        Iowa
MO                    Missouri
CT                 Connecticut
WV               West Virginia
SC              South Carolina
LA                   Louisiana
KS                      Kansas
NY                    New York
NE                    Nebraska
OK                    Oklahoma
FL                     Florida
CA                  California
CO                    Colorado
PA                Pennsylvania
DE                    Delaware
NM                  New Mexico
RI                Rhode Island
MN                   Minnesota
VI              Virgin Islands
NH               New Hampshire
MA               Massachusetts
GA                     Georgia
ND                North Dakota
VA                    Virginia
dtype: object

In [101]:
def f1(row,data, param):
    if param['state'] == '' or row[0].find('edit')>0:
        param['state'] == row[0].split('[')[0]
    else:
        town = row[0].split('(')[0].strip()
        data.append([param['state'], town])

In [39]:
state_2 = {state_2:abbrev for abbrev,state_2 in states.items()}
state_2

{'Ohio': 'OH',
 'Kentucky': 'KY',
 'American Samoa': 'AS',
 'Nevada': 'NV',
 'Wyoming': 'WY',
 'National': 'NA',
 'Alabama': 'AL',
 'Maryland': 'MD',
 'Alaska': 'AK',
 'Utah': 'UT',
 'Oregon': 'OR',
 'Montana': 'MT',
 'Illinois': 'IL',
 'Tennessee': 'TN',
 'District of Columbia': 'DC',
 'Vermont': 'VT',
 'Idaho': 'ID',
 'Arkansas': 'AR',
 'Maine': 'ME',
 'Washington': 'WA',
 'Hawaii': 'HI',
 'Wisconsin': 'WI',
 'Michigan': 'MI',
 'Indiana': 'IN',
 'New Jersey': 'NJ',
 'Arizona': 'AZ',
 'Guam': 'GU',
 'Mississippi': 'MS',
 'Puerto Rico': 'PR',
 'North Carolina': 'NC',
 'Texas': 'TX',
 'South Dakota': 'SD',
 'Northern Mariana Islands': 'MP',
 'Iowa': 'IA',
 'Missouri': 'MO',
 'Connecticut': 'CT',
 'West Virginia': 'WV',
 'South Carolina': 'SC',
 'Louisiana': 'LA',
 'Kansas': 'KS',
 'New York': 'NY',
 'Nebraska': 'NE',
 'Oklahoma': 'OK',
 'Florida': 'FL',
 'California': 'CA',
 'Colorado': 'CO',
 'Pennsylvania': 'PA',
 'Delaware': 'DE',
 'New Mexico': 'NM',
 'Rhode Island': 'RI',
 'Minnesota': 'MN',
 'Virgin Islands': 'VI',
 'New Hampshire': 'NH',
 'Massachusetts': 'MA',
 'Georgia': 'GA',
 'North Dakota': 'ND',
 'Virginia': 'VA'}

In [54]:
#def get_list_of_university_towns():
    university_towns_dt = pd.read_table('university_towns.txt', header = None)
    param = {'state': ''}
    data = []
    university_towns_dt.apply(lambda row: f1(row, data, param), axis = 1)
    return pd.DataFrame(data, columns=["State", "RegionName"])


get_list_of_university_towns()

Empty DataFrame
Columns: [State, RegionName]
Index: []

In [204]:

def get_list_of_unversity_towns():

    data= []

    with open('university_towns.txt') as f:
        for line in f:
            if 'edit' in line:
                current_city = line.split('[')[0].strip()
            else:
                data.append((current_city, line.split('(')[0].strip()))
    data1 = pd.DataFrame.from_records(data)
    data1.columns = ['State', 'Region Name']
    return data1

get_list_of_university_towns()

             State                   Region Name
1          Alabama                        Auburn
2          Alabama                      Florence
3          Alabama                  Jacksonville
4          Alabama                    Livingston
5          Alabama                    Montevallo
6          Alabama                          Troy
7          Alabama                    Tuscaloosa
8          Alabama                      Tuskegee
10          Alaska                     Fairbanks
12         Arizona                     Flagstaff
13         Arizona                         Tempe
14         Arizona                        Tucson
16        Arkansas                   Arkadelphia
17        Arkansas                        Conway
18        Arkansas                  Fayetteville
19        Arkansas                     Jonesboro
20        Arkansas                      Magnolia
21        Arkansas                    Monticello
22        Arkansas                  Russellville
23        Arkansas                        Searcy
25      California                        Angwin
26      California                        Arcata
27      California                      Berkeley
28      California                         Chico
29      California                     Claremont
30      California                        Cotati
31      California                         Davis
32      California                        Irvine
33      California                    Isla Vista
34      California  University Park, Los Angeles
..             ...                           ...
533       Virginia                          Wise
534       Virginia                    Chesapeake
536     Washington                    Bellingham
537     Washington                        Cheney
538     Washington                    Ellensburg
539     Washington                       Pullman
540     Washington  University District, Seattle
542  West Virginia                        Athens
543  West Virginia                    Buckhannon
544  West Virginia                      Fairmont
545  West Virginia                     Glenville
546  West Virginia                    Huntington
547  West Virginia                    Montgomery
548  West Virginia                    Morgantown
549  West Virginia                 Shepherdstown
550  West Virginia                  West Liberty
552      Wisconsin                      Appleton
553      Wisconsin                    Eau Claire
554      Wisconsin                     Green Bay
555      Wisconsin                     La Crosse
556      Wisconsin                       Madison
557      Wisconsin                     Menomonie
558      Wisconsin                     Milwaukee
559      Wisconsin                       Oshkosh
560      Wisconsin                   Platteville
561      Wisconsin                   River Falls
562      Wisconsin                 Stevens Point
563      Wisconsin                      Waukesha
564      Wisconsin                    Whitewater
566        Wyoming                       Laramie

[517 rows x 2 columns]

In [ ]:
university_towns_dt = pd.read_table('university_towns.txt', header = None)

In [62]:
university_towns_dt

                                                     0
0                                        Alabama[edit]
1                        Auburn (Auburn University)[1]
2               Florence (University of North Alabama)
3      Jacksonville (Jacksonville State University)[2]
4           Livingston (University of West Alabama)[2]
5             Montevallo (University of Montevallo)[2]
6                            Troy (Troy University)[2]
7    Tuscaloosa (University of Alabama, Stillman Co...
8                    Tuskegee (Tuskegee University)[5]
9                                         Alaska[edit]
10       Fairbanks (University of Alaska Fairbanks)[2]
11                                       Arizona[edit]
12          Flagstaff (Northern Arizona University)[6]
13                    Tempe (Arizona State University)
14                      Tucson (University of Arizona)
15                                      Arkansas[edit]
16   Arkadelphia (Henderson State University, Ouach...
17   Conway (Central Baptist College, Hendrix Colle...
18            Fayetteville (University of Arkansas)[7]
19            Jonesboro (Arkansas State University)[8]
20          Magnolia (Southern Arkansas University)[2]
21   Monticello (University of Arkansas at Monticel...
22          Russellville (Arkansas Tech University)[2]
23                      Searcy (Harding University)[5]
24                                    California[edit]
25                   Angwin (Pacific Union College)[2]
26               Arcata (Humboldt State University)[5]
27    Berkeley (University of California, Berkeley)[5]
28       Chico (California State University, Chico)[2]
29   Claremont (Claremont McKenna College, Pomona C...
..                                                 ...
537          Cheney (Eastern Washington University)[2]
538      Ellensburg (Central Washington University)[5]
539           Pullman (Washington State University)[5]
540  University District, Seattle (University of Wa...
541                                West Virginia[edit]
542                     Athens (Concord University)[2]
543     Buckhannon (West Virginia Wesleyan College)[2]
544            Fairmont (Fairmont State University)[2]
545             Glenville (Glenville State College)[2]
546                Huntington (Marshall University)[2]
547  Montgomery (West Virginia University Institute...
548           Morgantown (West Virginia University)[2]
549             Shepherdstown (Shepherd University)[2]
550          West Liberty (West Liberty University)[2]
551                                    Wisconsin[edit]
552                     Appleton (Lawrence University)
553    Eau Claire (University of Wisconsin–Eau Claire)
554      Green Bay (University of Wisconsin-Green Bay)
555  La Crosse (University of Wisconsin–La Crosse, ...
556       Madison (University of Wisconsin–Madison)[2]
557       Menomonie (University of Wisconsin–Stout)[2]
558  Milwaukee (Marquette University, University of...
559          Oshkosh (University of Wisconsin–Oshkosh)
560  Platteville (University of Wisconsin–Plattevil...
561  River Falls (University of Wisconsin–River Fal...
562  Stevens Point (University of Wisconsin–Stevens...
563                      Waukesha (Carroll University)
564  Whitewater (University of Wisconsin–Whitewater...
565                                      Wyoming[edit]
566                 Laramie (University of Wyoming)[5]

[567 rows x 1 columns]

In [201]:
#def get_list_of_university_towns():
    text_file = open('university_towns.txt')
    State = {idx: lines.strip().replace('[edit]','') for idx, lines in enumerate(text_file) if 'edit' in lines}
    State = pd.Series(State)
    university_towns =pd.read_csv('university_towns.txt', sep = '\n', header = None, names =['RegionName'])
    university_towns['State'] = State
    university_towns = university_towns.fillna(method = 'ffill')
    university_towns = university_towns.drop(State.index)
    university_towns['RegionName'] = list(map(lambda x: x.split('(')[0].rstrip(),university_towns['RegionName']))
    #university_towns = university_towns.set_index(['State','Region Name'])
  #  swap = list(university_towns)
  #  swap[1],swap[2] = swap[2],swap[1]
  #  university_towns.columns = swap
  #  university_towns.columns = ['State','Region Name']
    university_towns['Name'] = university_towns['State']
    university_towns['State'] = university_towns['RegionName']
    university_towns['RegionName'] = university_towns['Name']
    university_towns.columns = ['State','Region Name','Name']
    del university_towns['Name']
    return university_towns


get_list_of_university_towns()

             State                   Region Name
1          Alabama                        Auburn
2          Alabama                      Florence
3          Alabama                  Jacksonville
4          Alabama                    Livingston
5          Alabama                    Montevallo
6          Alabama                          Troy
7          Alabama                    Tuscaloosa
8          Alabama                      Tuskegee
10          Alaska                     Fairbanks
12         Arizona                     Flagstaff
13         Arizona                         Tempe
14         Arizona                        Tucson
16        Arkansas                   Arkadelphia
17        Arkansas                        Conway
18        Arkansas                  Fayetteville
19        Arkansas                     Jonesboro
20        Arkansas                      Magnolia
21        Arkansas                    Monticello
22        Arkansas                  Russellville
23        Arkansas                        Searcy
25      California                        Angwin
26      California                        Arcata
27      California                      Berkeley
28      California                         Chico
29      California                     Claremont
30      California                        Cotati
31      California                         Davis
32      California                        Irvine
33      California                    Isla Vista
34      California  University Park, Los Angeles
..             ...                           ...
533       Virginia                          Wise
534       Virginia                    Chesapeake
536     Washington                    Bellingham
537     Washington                        Cheney
538     Washington                    Ellensburg
539     Washington                       Pullman
540     Washington  University District, Seattle
542  West Virginia                        Athens
543  West Virginia                    Buckhannon
544  West Virginia                      Fairmont
545  West Virginia                     Glenville
546  West Virginia                    Huntington
547  West Virginia                    Montgomery
548  West Virginia                    Morgantown
549  West Virginia                 Shepherdstown
550  West Virginia                  West Liberty
552      Wisconsin                      Appleton
553      Wisconsin                    Eau Claire
554      Wisconsin                     Green Bay
555      Wisconsin                     La Crosse
556      Wisconsin                       Madison
557      Wisconsin                     Menomonie
558      Wisconsin                     Milwaukee
559      Wisconsin                       Oshkosh
560      Wisconsin                   Platteville
561      Wisconsin                   River Falls
562      Wisconsin                 Stevens Point
563      Wisconsin                      Waukesha
564      Wisconsin                    Whitewater
566        Wyoming                       Laramie

[517 rows x 2 columns]

In [146]:
from collections import nametuple
Item = nametuple('Items', 'state area')
items = []
with open('university_towns') as f:
    for line in f:
        l = line.rstrip('\n')
        if l.endswith(['edit']):
            state = l.rstrip('[edit]')
        else:
            i = l.index('(')
            area = l[:i]
            items.append(Items(state,area))
df = pd.DataFrame.from_records(items, columns = ['State','area'])

print (df)

ImportError: cannot import name 'nametuple' from 'collections' (C:\Users\user\Newfolder2\lib\collections\__init__.py)

In [131]:
def get_recession_start():
    gdp_dt = pd.read_excel('gdplev.xls', skiprows = 219)
    gdp_dt = gdp_dt[['1999q4',9926.1]]
    gdp_dt.columns = ['Quarter', 'GDP']
    gdp_dt['GDP'] = pd.to_numeric(gdp_dt['GDP'])
    quarters = []
    for i in range(len(gdp_dt)-2):
        if (gdp_dt.iloc[i][1] > gdp_dt.iloc[i+1][1]) & (gdp_dt.iloc[i+1][1] > gdp_dt.iloc[i+2][1]):
            quarters.append(gdp_dt.iloc[i][0])
    return quarters[0]
        
get_recession_start()

'2008q3'

In [145]:
def get_recession_end():
    dt =  pd.read_excel('gdplev.xls', skiprows = 219)
    dt = dt[['1999q4',9926.1]]
    dt.columns = ['Quarter', 'GDP']
    dt['GDP'] = pd.to_numeric(dt['GDP'])
    st = get_recession_start()
    st_index = dt[dt['Quarter'] == st].index.tolist()[0]
    dt = dt.iloc[st_index:]
    for i in range(len(dt)):
        if (dt.iloc[i-2][1]< dt.iloc[i-1][1]) & (dt.iloc[i-1][1]< dt.iloc[i][1]):
            return dt.iloc[i][0]
    
get_recession_end()

'2009q4'

In [207]:
def get_recession_bottom():
    dt = pd.read_excel('gdplev.xls', skiprows = 219)
    dt = dt[['1999q4',9926.1]]
    dt.columns = ['Quarter', 'GDP']
    dt['GDP'] = pd.to_numeric(dt['GDP'])
    start = get_recession_start()
    start_index = dt[dt['Quarter'] == start].index.tolist()[0]
    end = get_recession_end()
    end_index = dt[dt['Quarter'] == end].index.tolist()[0]
    dt = dt.iloc[start_index:end_index + 1]
    bottom = dt['GDP'].min()
    bottom_index = dt[dt['GDP'] == bottom].index.tolist()[0]-start_index
    return dt.iloc[bottom_index]['Quarter']

get_recession_bottom()

'2009q2'

In [221]:
def convert_housing_data_to_quarters():
    all_homes = pd.read_csv('City_Zhvi_AllHomes.csv')
    all_homes['State'].replace(states, inplace = True)
    all_homes = all_homes.set_index(['State', 'RegionName'])
    all_homes = all_homes.iloc[:, 49:250]
    
    def quarters(col):
        if col.endswith(('01','02','03')):
            s = col[:4]+'q1'
        elif col.endswith(('04','05','06')):
            s = col[:4]+'q2'
        elif col.endswith(('07','08','09')):
            s = col[:4]+'q3'
        else:
            s = col[:4]+'q4'
            
        return s
    
    housing = all_homes.groupby(quarters, axis = 1).mean()
    housing = housing.sort_index()
    return housing


convert_housing_data_to_quarters()

                                  2000q1         2000q2         2000q3  \
State     RegionName
Alabama   Adamsville        69033.333333   69166.666667   69800.000000
          Alabaster        122133.333333  123066.666667  123166.666667
          Albertville       73966.666667   72600.000000   72833.333333
          Arab              83766.666667   81566.666667   81333.333333
          Ardmore                    NaN            NaN            NaN
          Axis                       NaN            NaN            NaN
          Baileyton                  NaN            NaN            NaN
          Bay Minette       81700.000000   78533.333333   79133.333333
          Bayou La Batre    44066.666667   44500.000000   44266.666667
          Bessemer                   NaN            NaN            NaN
          Birmingham        54033.333333   54400.000000   54966.666667
          Boaz              70866.666667   70266.666667   70300.000000
          Brent             92933.333333   94333.333333   96166.666667
          Brighton                   NaN            NaN            NaN
          Brookwood         92566.666667   95100.000000   98866.666667
          Buhl              90800.000000   94600.000000   96500.000000
          Calera           108933.333333  110366.666667  108000.000000
          Center Point      80966.666667   81233.333333   81500.000000
          Centreville       95300.000000   96566.666667   98000.000000
          Chalkville        94100.000000   94433.333333   94433.333333
          Chancellor                 NaN            NaN            NaN
          Chelsea          162066.666667  167033.333333  166900.000000
          Chickasaw         51200.000000   53666.666667   54933.333333
          Chunchula         80266.666667   81766.666667   82200.000000
          Citronelle        64833.333333   66633.333333   68066.666667
          Clay             120900.000000  122266.666667  123966.666667
          Coden             62600.000000   64800.000000   66866.666667
          Coker            118100.000000  120766.666667  118166.666667
          Concord           78600.000000   78700.000000   80133.333333
          Cottondale       100833.333333  102633.333333  104766.666667
...                                  ...            ...            ...
Wisconsin Vernon           183200.000000  178200.000000  174300.000000
          Vienna           178033.333333  181533.333333  182433.333333
          Vinland          119800.000000  126766.666667  134933.333333
          Wales                      NaN            NaN            NaN
          Waterford        121200.000000  119433.333333  120200.000000
          Waukesha         141266.666667  138433.333333  136733.333333
          Waunakee         187400.000000  191433.333333  192666.666667
          Waupun            84000.000000   84000.000000   84400.000000
          Wausau            69566.666667   69466.666667   71033.333333
          Wayne                      NaN            NaN            NaN
          West Allis        80933.333333   81933.333333   84066.666667
          Weston            80166.666667   82700.000000   84166.666667
          Wheatland        129800.000000  132133.333333  134933.333333
          Whitelaw          96033.333333  101433.333333  108033.333333
          Williams Bay     122900.000000  115300.000000  110766.666667
          Wilson           129033.333333  129366.666667  132433.333333
          Wilson                     NaN            NaN            NaN
          Wind Lake        124366.666667  123666.666667  124133.333333
          Wind Point       149233.333333  145266.666667  140866.666667
          Wisconsin Dells  100000.000000  103400.000000  105000.000000
          Wolf River        95166.666667   99333.333333  103800.000000
          Woodruff                   NaN            NaN            NaN
          Woodville                  NaN            NaN            NaN
          Yorkville        139066.666667  134900.000000  135033.333333
Wyoming   Bar Nunn          93033.333333   89666.666667   88900.000000
          Burns            101533.333333  104566.666667  108366.666667
          Casper            89233.333333   89600.000000   89733.333333
          Cheyenne         116866.666667  120033.333333  121533.333333
          Evansville       128033.333333  128766.666667  130833.333333
          Pine Bluffs       93733.333333   95066.666667   94633.333333

                                  2000q4         2001q1         2001q2  \
State     RegionName
Alabama   Adamsville        71966.666667   73466.666667   74000.000000
          Alabaster        123700.000000  123233.333333  125133.333333
          Albertville       74200.000000   75900.000000   76000.000000
          Arab              82966.666667   84200.000000   84533.333333
          Ardmore                    NaN            NaN            NaN
          Axis                       NaN            NaN            NaN
          Baileyton                  NaN            NaN            NaN
          Bay Minette       81300.000000   85700.000000   87266.666667
          Bayou La Batre    43666.666667   42500.000000   43333.333333
          Bessemer                   NaN            NaN            NaN
          Birmingham        56066.666667   56833.333333   57600.000000
          Boaz              71466.666667   72833.333333   71900.000000
          Brent             98333.333333   96533.333333   98500.000000
          Brighton                   NaN            NaN            NaN
          Brookwood         99966.666667  101666.666667  103666.666667
          Buhl              96566.666667   99266.666667  101966.666667
          Calera           107933.333333  109333.333333  112200.000000
          Center Point      82233.333333   83366.666667   84333.333333
          Centreville       99366.666667   98100.000000   99266.666667
          Chalkville        94433.333333   96066.666667   97433.333333
          Chancellor                 NaN            NaN            NaN
          Chelsea          167400.000000  170633.333333  174300.000000
          Chickasaw         56066.666667   55133.333333   53566.666667
          Chunchula         83400.000000   85400.000000   86100.000000
          Citronelle        67766.666667   67866.666667   70000.000000
          Clay             126500.000000  128033.333333  128300.000000
          Coden             68566.666667   68933.333333   71300.000000
          Coker            115333.333333  114066.666667  115700.000000
          Concord           82800.000000   85133.333333   85800.000000
          Cottondale       105300.000000  106733.333333  109233.333333
...                                  ...            ...            ...
Wisconsin Vernon           177466.666667  186233.333333  190500.000000
          Vienna           186300.000000  190600.000000  191566.666667
          Vinland          137833.333333  144300.000000  148200.000000
          Wales                      NaN            NaN            NaN
          Waterford        121966.666667  127000.000000  133000.000000
          Waukesha         139833.333333  147600.000000  151066.666667
          Waunakee         193733.333333  197333.333333  198500.000000
          Waupun            84533.333333   85100.000000   86600.000000
          Wausau            69833.333333   69866.666667   71366.666667
          Wayne                      NaN            NaN            NaN
          West Allis        80666.666667   79100.000000   80333.333333
          Weston            85800.000000   87266.666667   88500.000000
          Wheatland        137833.333333  142566.666667  143000.000000
          Whitelaw         114000.000000  116333.333333  114966.666667
          Williams Bay     110700.000000  112600.000000  117100.000000
          Wilson           137200.000000  143533.333333  143833.333333
          Wilson                     NaN            NaN            NaN
          Wind Lake        126066.666667  132133.333333  139466.666667
          Wind Point       147866.666667  158666.666667  163966.666667
          Wisconsin Dells  105433.333333  105533.333333  107100.000000
          Wolf River       107633.333333  111400.000000  115033.333333
          Woodruff                   NaN            NaN            NaN
          Woodville                  NaN            NaN            NaN
          Yorkville        140300.000000  148800.000000  155233.333333
Wyoming   Bar Nunn          93500.000000   98833.333333   99900.000000
          Burns            113000.000000  115833.333333  117200.000000
          Casper            93166.666667   95500.000000   97633.333333
          Cheyenne         123633.333333  125533.333333  126300.000000
          Evansville       132066.666667  130566.666667  131433.333333
          Pine Bluffs       98066.666667  103233.333333  104600.000000

                                  2001q3         2001q4         2002q1  \
State     RegionName
Alabama   Adamsville        73333.333333   73100.000000   73333.333333
          Alabaster        127766.666667  127200.000000  127300.000000
          Albertville       72066.666667   73566.666667   76533.333333
          Arab              81666.666667   83900.000000   87266.666667
          Ardmore                    NaN            NaN            NaN
          Axis                       NaN            NaN            NaN
          Baileyton                  NaN            NaN            NaN
          Bay Minette       85900.000000   85000.000000   84066.666667
          Bayou La Batre    45433.333333   45400.000000   45400.000000
          Bessemer                   NaN            NaN            NaN
          Birmingham        58433.333333   58700.000000   59500.000000
          Boaz              68733.333333   69833.333333   72766.666667
          Brent             99366.666667  104100.000000  103800.000000
          Brighton                   NaN            NaN            NaN
          Brookwood        101833.333333   99900.000000   99633.333333
          Buhl             102000.000000  102733.333333  102533.333333
          Calera           114333.333333  112133.333333  111500.000000
          Center Point      84466.666667   85333.333333   86100.000000
          Centreville      100400.000000  104633.333333  105233.333333
          Chalkville        98400.000000   99366.666667   99866.666667
          Chancellor                 NaN            NaN            NaN
          Chelsea          174900.000000  173300.000000  170566.666667
          Chickasaw         53533.333333   53400.000000   54266.666667
          Chunchula         86733.333333   86566.666667   86166.666667
          Citronelle        71466.666667   70933.333333   69833.333333
          Clay             129233.333333  130466.666667  130900.000000
          Coden             72733.333333   73600.000000   72933.333333
          Coker            118833.333333  122566.666667  122366.666667
          Concord           84866.666667   84766.666667   86366.666667
          Cottondale       109200.000000  109900.000000  109333.333333
...                                  ...            ...            ...
Wisconsin Vernon           193100.000000  197466.666667  201800.000000
          Vienna           193733.333333  194833.333333  198466.666667
          Vinland          147733.333333  151200.000000  149233.333333
          Wales                      NaN            NaN            NaN
          Waterford        139233.333333  143100.000000  145733.333333
          Waukesha         153100.000000  155033.333333  158200.000000
          Waunakee         201266.666667  202100.000000  206100.000000
          Waupun            87666.666667   87100.000000   87533.333333
          Wausau            73100.000000   74033.333333   76400.000000
          Wayne                      NaN            NaN            NaN
          West Allis        81433.333333   82400.000000   84966.666667
          Weston            90066.666667   91766.666667   94833.333333
          Wheatland        143966.666667  142633.333333  143933.333333
          Whitelaw         115666.666667  115866.666667  117766.666667
          Williams Bay     119533.333333  121400.000000  126566.666667
          Wilson           143233.333333  141966.666667  142466.666667
          Wilson                     NaN            NaN            NaN
          Wind Lake        144200.000000  147333.333333  150933.333333
          Wind Point       170833.333333  169566.666667  170533.333333
          Wisconsin Dells  109866.666667  111633.333333  115833.333333
          Wolf River       116900.000000  118233.333333  118600.000000
          Woodruff                   NaN            NaN            NaN
          Woodville                  NaN            NaN            NaN
          Yorkville        161133.333333  162800.000000  164866.666667
Wyoming   Bar Nunn          99100.000000   98333.333333   98633.333333
          Burns            117800.000000  117633.333333  117333.333333
          Casper            99433.333333  100633.333333  101733.333333
          Cheyenne         126466.666667  128133.333333  128466.666667
          Evansville       132400.000000  133466.666667  133300.000000
          Pine Bluffs      106500.000000  104066.666667  102233.333333

                                  2002q2    ...            2014q2  \
State     RegionName                        ...
Alabama   Adamsville        73133.333333    ...      77066.666667
          Alabaster        128000.000000    ...     147133.333333
          Albertville       76366.666667    ...      84033.333333
          Arab              87700.000000    ...     113366.666667
          Ardmore                    NaN    ...     140533.333333
          Axis                       NaN    ...     111066.666667
          Baileyton                  NaN    ...      87666.666667
          Bay Minette       84566.666667    ...     113333.333333
          Bayou La Batre    45566.666667    ...      49800.000000
          Bessemer                   NaN    ...      54600.000000
          Birmingham        59866.666667    ...      61733.333333
          Boaz              72100.000000    ...      80933.333333
          Brent            102533.333333    ...      93866.666667
          Brighton                   NaN    ...      45366.666667
          Brookwood        100366.666667    ...     106633.333333
          Buhl             100100.000000    ...     119233.333333
          Calera           111233.333333    ...     125533.333333
          Center Point      86500.000000    ...      78833.333333
          Centreville      105066.666667    ...      95566.666667
          Chalkville       100733.333333    ...     105233.333333
          Chancellor                 NaN    ...     116400.000000
          Chelsea          171100.000000    ...     197133.333333
          Chickasaw         55000.000000    ...      59000.000000
          Chunchula         86533.333333    ...     120666.666667
          Citronelle        68133.333333    ...      88600.000000
          Clay             131100.000000    ...     134100.000000
          Coden             69100.000000    ...      77566.666667
          Coker            119200.000000    ...     141700.000000
          Concord           90366.666667    ...     104733.333333
          Cottondale       107966.666667    ...     128500.000000
...                                  ...    ...               ...
Wisconsin Vernon           201966.666667    ...     257733.333333
          Vienna           202466.666667    ...     265700.000000
          Vinland          146433.333333    ...     181766.666667
          Wales                      NaN    ...     262133.333333
          Waterford        151266.666667    ...     213133.333333
          Waukesha         157833.333333    ...     181166.666667
          Waunakee         208533.333333    ...     278100.000000
          Waupun            87466.666667    ...     113166.666667
          Wausau            78700.000000    ...      91600.000000
          Wayne                      NaN    ...     238633.333333
          West Allis        87566.666667    ...      90433.333333
          Weston            97600.000000    ...     133233.333333
          Wheatland        146433.333333    ...     169266.666667
          Whitelaw         116800.000000    ...     120433.333333
          Williams Bay     131700.000000    ...     223000.000000
          Wilson           139200.000000    ...     159933.333333
          Wilson                     NaN    ...     170300.000000
          Wind Lake        156166.666667    ...     228200.000000
          Wind Point       179733.333333    ...     261233.333333
          Wisconsin Dells  117333.333333    ...     137500.000000
          Wolf River       116800.000000    ...     162666.666667
          Woodruff                   NaN    ...     172133.333333
          Woodville                  NaN    ...     162600.000000
          Yorkville        172466.666667    ...     231500.000000
Wyoming   Bar Nunn         100866.666667    ...     199233.333333
          Burns            117233.333333    ...     168866.666667
          Casper           101533.333333    ...     175766.666667
          Cheyenne         129633.333333    ...     177466.666667
          Evansville       131066.666667    ...     296733.333333
          Pine Bluffs      103566.666667    ...     148666.666667

                                  2014q3         2014q4         2015q1  \
State     RegionName
Alabama   Adamsville        75966.666667   71900.000000   71666.666667
          Alabaster        147633.333333  148700.000000  148900.000000
          Albertville       84766.666667   86800.000000   88466.666667
          Arab             111700.000000  111600.000000  110166.666667
          Ardmore          139566.666667  140900.000000  143233.333333
          Axis             111833.333333  111800.000000  109533.333333
          Baileyton         90033.333333   94100.000000   94600.000000
          Bay Minette      110600.000000  109900.000000  111100.000000
          Bayou La Batre    51000.000000   51766.666667   50733.333333
          Bessemer          55333.333333   54733.333333   55200.000000
          Birmingham        60900.000000   59533.333333   59900.000000
          Boaz              81866.666667   82866.666667   83966.666667
          Brent             97100.000000  100100.000000  102433.333333
          Brighton          45133.333333   43766.666667   42500.000000
          Brookwood        110233.333333  114366.666667  117700.000000
          Buhl             132033.333333  138400.000000  141766.666667
          Calera           126733.333333  127633.333333  128366.666667
          Center Point      78433.333333   80200.000000   80100.000000
          Centreville       98866.666667  101866.666667  103933.333333
          Chalkville       104333.333333  105866.666667  106966.666667
          Chancellor       117000.000000  117133.333333  114733.333333
          Chelsea          199066.666667  199933.333333  202333.333333
          Chickasaw         60400.000000   59733.333333   58066.666667
          Chunchula        121600.000000  122733.333333  123666.666667
          Citronelle        89633.333333   90766.666667   91300.000000
          Clay             134300.000000  135466.666667  138466.666667
          Coden             76866.666667   77800.000000   79300.000000
          Coker            146300.000000  154333.333333  157566.666667
          Concord          100233.333333   94800.000000   96200.000000
          Cottondale       130566.666667  133433.333333  134500.000000
...                                  ...            ...            ...
Wisconsin Vernon           256200.000000  254566.666667  253633.333333
          Vienna           267466.666667  267766.666667  268300.000000
          Vinland          183500.000000  184233.333333  184033.333333

In [180]:
def new_col_names():
    years = list(range(2000,2017))
    quars = ['q1','q2','q3','q4']
    quar_years = []
    for i in years:
        for x in quars:
            quar_years.append((str(i)+x))
    return quar_years[:67]



def covert_housing_data_to_quarters():
    data = pd.read_csv('City_Zhvi_AllHomes.csv')
    data.drop(['Metro','CountyName','RegionID','SizeRank'], axis =1, inplace =1 )
    data['State'] = data['State'].map(states)
    data.set_index(['State','RegionName'], inplace = True)
    col = list(data.columns)
    col = col[0:45]
    data.drop(col, axis = 1, inplace=1)
    qs = [list(data.columns)[x:x+3] for x in range (0,len(list(data.columns)), 3)]
    column_names = new_col_names()
    for col,q in zip(column_names,qs):
        data[col] = data[q].mean(axis = 1)
    data = data[column_names]
    return data

covert_housing_data_to_quarters()

ValueError: For argument "inplace" expected type bool, received type int.

In [246]:
def run_ttest():
    housing_data = convert_housing_data_to_quarters().copy()
    housing_data = housing_data.loc[:,'2008q3':'2009q2']
    housing_data = housing_data.reset_index()
    
    def price_ratio(row):
        return (row['2008q3']-row['2009q2'])/ row['2008q3']
    
    housing_data['up&down'] = housing_data.apply(price_ratio,axis = 1)
    uni_town = get_list_of_university_towns()['Region Name']
    uni_town = set(uni_town)
    

    def universitytown(row):
        if row['RegionName'] in uni_town:
            return 1
        else:
            return 0
    housing_data['is_uni'] = housing_data.apply(universitytown, axis = 1)
    not_uni = housing_data[housing_data['is_uni']==0].loc[:,'up&down'].dropna()
    is_uni = housing_data[housing_data['is_uni']==1].loc[:,'up&down'].dropna()
    
    def better():
        
        if not_uni.mean() < is_uni.mean():
            return 'NON_University Town'
        else:
            return 'University Town'
        
    p_val = list(ttest_ind(not_uni, is_uni))[1]
    result = (True, p_val,better())
    return result

run_ttest()

(True, 0.00036641601595526505, 'University Town')

In [240]:
def run_ttest():
    housing = convert_housing_data_to_quarters()
    university_towns = get_list_of_university_towns()
    quarter_before_recession = get_recession_start()
    recession_bottom =get_recession_bottom()
    housing =housing[[quarter_before_recession, recession_bottom]]
    housing['price_ratio'] = housing[quarter_before_recession].div(housing[recession_bottom])
    housing = housing.dropna()
    
    university_housing =pd.merge(university_towns, housing, how = 'outer', left_index =True, right_index = True)
    non_university_housing = housing[~housing.index.isin(university_housing.index)]
    t_stat, p_value = ttest_ind(university_housing['price_ratio'], non_university_housing['price_ratio'])
    if p_value < 0.01:
        different = True
    else:
        different = False
    
    if t_start < 0:
        better = 'university town'
    else:
        better = 'non-university town'
        
    return (different,p_value,better)

run_ttest()

ValueError: cannot join with no level specified and no overlapping names

NameError: name 'gdp_dt' is not defined

In [230]:
def run_ttest():   
    
    # Create university towns dummy
    u_towns = get_list_of_university_towns()
    u_towns = u_towns[['State', 'Region Name']]
    u_towns['U_Town'] = 1
    u_towns = u_towns.set_index(['State', 'Region Name'])
    
    # Merge university towns with housing prices by state and region name
    x = convert_housing_data_to_quarters()
    x = x.merge(u_towns, how = 'left', left_index = True, right_index = True )
    x.U_Town[x.U_Town.isnull()] = 0
    
    # Analyze trends in housing values
    start = get_recession_start()
    bottom = get_recession_bottom()
    y = x[[start, bottom, 'U_Town']]
    y['Change'] = y['2009Q2'] / y['2008Q3']
    
    ut = y[y['U_Town'] == 1]['Change'].dropna()
    not_ut = y[y['U_Town'] == 0]['Change'].dropna()
    t = ttest_ind(ut, not_ut)
    p = t[1]
    
    different = False
    if p < 0.01:
        different = True
    
    better = 'university town'
    if ut.mean() < not_ut.mean():
        better = 'non-university town'
        
    return (different, p, better)

print(run_ttest())

ValueError: right_index parameter must be of type bool, not <class 'list'>

In [227]:
def run_ttest():
  """
  First creates new data showing the decline or growth of housing prices
  between the recession start and the recession bottom. Then runs a ttest
  comparing the university town values to the non-university towns values, 
  return whether the alternative hypothesis (that the two groups are the same)
  is true or not as well as the p-value of the confidence. 
  
  Return the tuple (different, p, better) where different=True if the t-test is
  True at a p<0.01 (we reject the null hypothesis), or different=False if 
  otherwise (we cannot reject the null hypothesis). The variable p should
  be equal to the exact p value returned from scipy.stats.ttest_ind(). The
  value for better should be either "university town" or "non-university town"
  depending on which has a lower mean price ratio (which is equivilent to a
  reduced market loss).
  """
  # 選出衰退起始的前一季與衰退谷底當季的房價 ------------
  housing_data_quarters = convert_housing_data_to_quarters()
  recession_start = get_recession_start()
  recession_bottom = get_recession_bottom()
  quarters = housing_data_quarters.columns
  recession_start_idx = list(quarters).index(recession_start)
  before_recession = quarters[:recession_start_idx][-1]
  new_data = housing_data_quarters.loc[:, [before_recession, recession_bottom]].reset_index()
  # 判斷房價資料中的區域是否為大學城 ------------
  university_towns = get_list_of_university_towns()#.drop('State', axis=1)
  new_data = pd.merge(new_data, university_towns, how='left', left_on = ['State', 'RegionName'], right_on = ['State', 'Region Name'])
  new_data = new_data.assign(is_university_town = [True if isinstance(x, str) else False for x in new_data['State'].values])
  new_data = new_data.drop('State', axis=1)
  # 計算 price_ratio ------------
  new_data = new_data.assign(price_ratio = new_data[before_recession] / new_data[recession_bottom])
  # 執行 T 檢定 ------------
  university_towns = new_data[new_data['is_university_town']]['price_ratio'].values
  non_university_towns = new_data[new_data['is_university_town'] == False]['price_ratio'].values
  ttest_res = ttest_ind(university_towns, non_university_towns, nan_policy='omit')
  # 回傳答案 ------------
  reject_null_hypothesis = None
  lower_mean_price_ratio = None
  if ttest_res[1] < 0.01:
    reject_null_hypothesis = True
  else:
    reject_null_hypothesis = False
  if ttest_res[0] < 0:
    lower_mean_price_ratio = "university town"
  else:
    lower_mean_price_ratio = "non-university town"
  return reject_null_hypothesis, ttest_res[1], lower_mean_price_ratio
run_ttest()

(False, nan, 'non-university town')

In [248]:
recession_start = get_recession_start()
recession_bottom = get_recession_bottom()
university_towns = get_list_of_university_towns().copy()
housingdata_df = convert_housing_data_to_quarters().copy().dropna()

hdf = housingdata_df.copy()
ratio = pd.DataFrame({'ratio': hdf[recession_start].div(hdf[recession_bottom])})
hdf.columns = hdf.columns.to_series().astype(str)
hdf = pd.concat([hdf, ratio], axis=1)

hdf = pd.DataFrame(hdf)
hdf.reset_index(['State','RegionName'], inplace = True)
unitown_priceratio = hdf.loc[list(university_towns.index)]['ratio'].dropna()
nonunitown_priceratio_index = set(hdf.index) - set(unitown_priceratio)
nonunitown_priceratio = hdf.loc[list(nonunitown_priceratio_index),:]['ratio'].dropna()

def run_ttest(a, b):

    tstat, p = tuple(ttest_ind(a, b))
    different = p < 0.05
    result = tstat < 0
    better = ["university town", "non-university town"]
    return (different, p, better[result])

run_ttest(unitown_priceratio, nonunitown_priceratio)

C:\Users\user\Newfolder2\lib\site-packages\ipykernel_launcher.py:23: DeprecationWarning: In future, it will be an error for 'np.bool_' scalars to be interpreted as an index

(True, 1.9064942442370604e-29, 'university town')

In [ ]:
 housing_data = convert_housing_data_to_quarters().copy()
    housing_data = housing_data.loc[:,'2008q3':'2009q2']
    housing_data = housing_data.reset_index()
    
    def price_ratio(row):
        return (row['2008q3']-row['2009q2'])/ row['2008q3']
    
    housing_data['up_down'] = housing_data.apply(price_ratio,axis = 1)
    uni_town = get_list_of_university_towns().copy()['Region Name']
    uni_town = set(uni_town)
    

    def universitytown(row):
        if row['RegionName'] in uni_town:
            return 1
        else:
            return 0
    housing_data['is_uni'] = housing_data.apply(universitytown, axis = 1)
    not_uni = housing_data[housing_data['is_uni']==0].loc[:,'up_down'].dropna()
    is_uni = housing_data[housing_data['is_uni']==1].loc[:,'up_down'].dropna()
    
    def better():
        
        if not_uni.mean() < is_uni.mean():
            return 'NON_University Town'
        else:
            return 'University Town'
        
    p_val = list(ttest_ind(not_uni, is_uni))[1]
    result = (True, p_val,better())
    return result

run_ttest()

In [254]:
def run_ttest():

    start = get_recession_start()

    bottom = get_recession_bottom()

    housing_data = convert_housing_data_to_quarters()

    housing_data = housing_data.loc[:, start: bottom]

    housing_data.reset_index(inplace=True)
    housing_data['price_ratio'] = (housing_data[start] - housing_data[bottom]) / housing_data[start]

    uni_towns = get_list_of_university_towns()  
    uni_town_list = uni_towns['Region Name'].tolist()

    housing_data['isUniTown'] = housing_data.RegionName.apply(lambda x: x in uni_town_list)


    uni_data = housing_data[housing_data.isUniTown].copy().dropna()
    not_uni_data = housing_data[~housing_data.isUniTown].copy().dropna()

    p = ttest_ind(uni_data['price_ratio'], not_uni_data['price_ratio'])[1]

    different = p < 0.01   

    lower = 'university town' if uni_data['price_ratio'].mean() < not_uni_data['price_ratio'].mean() else 'non-university town'

    return (different, p, lower)

run_ttest()

(True, 0.00036641601595526505, 'university town')

In [ ]:
recession_start = get_recession_start()
recession_bottom = get_recession_bottom()
university_towns = get_list_of_university_towns().copy()
housingdata_df = convert_housing_data_to_quarters().copy().dropna()

hdf = housingdata_df
ratio = pd.DataFrame({'ratio': hdf[recession_start].div(hdf[recession_bottom])})
hdf.columns = hdf.columns.to_series().astype(str)
hdf = pd.concat([hdf, ratio], axis=1)

hdf = pd.DataFrame(hdf)
hdf.reset_index(['State','RegionName'], inplace = True)
unitown_priceratio = hdf.loc[list(university_towns.index)]['ratio'].dropna()
nonunitown_priceratio_index = set(hdf.index) - set(unitown_priceratio)
nonunitown_priceratio = hdf.loc[list(nonunitown_priceratio_index),:]['ratio'].dropna()

def run_ttest(a, b):

    tstat, p = tuple(ttest_ind(a, b))
    different = p < 0.05
    result = tstat < 0
    better = ["university town", "non-university town"]
    return (different, p, better[result])

run_ttest(unitown_priceratio, nonunitown_priceratio)